a,
a:active,
a:visited,
:link {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: BebasNeue-Bold;
  src: url('../../assets/fonts/bebas-neue/BebasNeue-Bold.otf');
}

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  font: 62.5% BebasNeue-Bold, sans-serif !important;
  font-size: 62.5% !important;
  overflow: hidden !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #0f0f0f;
  margin: 0;
  font-size: 1.6rem !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-style: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
}

.transition-group {
  > div:first-child {
    height: 100vh !important;
  }
}
